@{
    ViewBag.Title = "Home Page";
}
<style>
    [class*="col-"] {
        padding: 15px;
    }
</style>
<!--- Image Slider -->
<div class="container-fluid">
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/ev-625717-unsplash.jpg">
                <div class="carousel-caption">
                    <h1 class="display-2">Plan Your Run</h1>
                    <a href="/Home/Map"><button type="button" class="btn btn-primary btn-lg"> Get Started</button></a>
                </div>
            </div>

            <div class="carousel-item">
                <img src="~/img/brooke-lark-254998-unsplash.jpg">
                <div class="carousel-caption">
                    <h2 class="display-2">Total Wellbeing Diet online</h2>
                    <a href="https://www.csiro.au/en/Research/Health/CSIRO-diets/CSIRO-Total-Wellbeing-Diet-Online" target="view_window"></a>
                    <button type="button" class="btn btn-primary btn-lg">Read More on Healthy Diet</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--- Jumbotron -->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-12">
            <p class="lead">
                This is the part to write something if you wanted to if
                not, Just leave it blank
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">This is a Button</button></a>
        </div>
    </div>
</div>
<hr class="my-4">

<!--Recorder area-->
<div class="container">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>This is another Heading...</h2>
            <p>
                Bootstrap is a very popular, free, open-source framework for styling your website. ...
                Making Beautiful Style Together: Visual Studio and Bootstrap ... You don't need to do anything with these files except
            </p>
            <br>
            <a href="#" class="btn btn-primary btn-md">Learn more</a>
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="~/img/bg2.jpg" class="img-fluid rounded">
        </div>
    </div>
</div>
<hr class="my-4">

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">There's More</h1>
            <hr class="my-4">
        </div>

    </div>
</div>


<!--- Map, Chart, Fourm area -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/jog.jpg">
                <div class="card-body">
                    <h4 class="card-title">Plan Your Run</h4>
                    <p class="card-text">
                        Plan your run on the map, figure out how many calorie you
                        can burn.
                    </p>
                    <br />
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/chart.jpg">
                <div class="card-body">
                    <h4 class="card-title">View Your Stats</h4>
                    <p class="card-text">Keep track of your statistics on diet pattern and calorie intake and comsumption</p>
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="~/img/talk.jpg">
                <div class="card-body">
                    <h4 class="card-title">Share Your Idea</h4>
                    <p class="card-text">Communicate your healthy way of life with others</p>
                    <br />
                    <a href="#" class="btn btn-outline-secondary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

</div>
