@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body{
  height: 100%;
  width: 100%;
  font-family: "Poppins",sans-serif;
  color: #222;
}

body {

    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
   
}
.row{
    height:70%;

}

.navbar {
    padding: .8rem;
}

.navbar-nav li{
  margin-right: 20px;
}


.nav-link {
    font-size: 1.1em !important;
    color: rgba(0,0,0,.7);
   
}

.carousel-inner img {
    width: 100%;
    height: 900px;
    position: relative;
}

.carousel-caption{
  position: absolute;
  top: 60%;
  transform: translateY(-50);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px #000;
}

.body-content{
    padding-top: 50px;
    height:80%;
    width:auto;
}

.form {
    display: block;
    margin-top: 1em;
}

.form-horizontal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style:inherit;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;

}

.welcome hr {
    border-bottom: 2px solid grey;
    width:65%;
}

#left {

}

.social a{
    font-size:4.5em;
    padding: 3rem;
}
.fa-facebook{
    color:darkslateblue;
}

.fa-twitter{
    color:dodgerblue
}

.fa-google-plus-g{
    color:red;
}

.fa-youtube {
    color:red;
}
.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-twitter:hover,
.fa-youtube:hover{
    color:lightslategrey;
}
.footer{
    position:center;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}











